# Production
GHOST_INTERNAL_URL=""

ATLAS_PANEL_URL="http://localhost:8000"
NEXTJS_INTERNAL_URL=""

ANALYTICS_PROXY_TARGET=""
ACTIVITYPUB_PROXY_TARGET=""
PORT=8080

# Dev mode (npm run dev)
PROXY_TARGET=""
DEV_NEXTJS_URL="http://localhost:3000"
DEV_PORT=3001
